@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.png);
    background-size: cover;
    background-position: right;
}

nav {
    background-color: rgb(255, 68, 0);
    font-family: 'nunito', sans-serif;
}

.desktop-topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.topnav-menu {
    list-style: none;
    display: flex;
}

.logo {
    display: block;
    font-size: 40px;
}

li {
    font-size: 20px;
    padding: 20px;
}

li:hover {
    background-color: black;
    color: orangered;
}

.mobile-topnav {
    display: none;
}

.flex-container {
    display: flex;
    align-items: center;
    /* background-color: brown; */
    padding: 10%;
    font-family: 'nunito', sans-serif;
}

.card {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(12, 12, 12);
    padding: 5%;
    border-radius: 3%;
    gap: 40px;
}

.card img {
    width: 100%;
    border-radius: 3%;
}

.card .text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fixed {
    width: 100px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}



@media screen and (max-width: 500px) {
    .desktop-topnav {
        display: none;
    }

    .mobile-topnav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        height: 50px;
    }

    .mobile-topnav .dropdown {
        font-size: 40px;
    }
}